@import "@/style/var.scss";

.ATF-home{
    background-color: $ATF-background-color;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-head{
        height: auto;
    }
    &-body{
        flex: 0.99;
        height: auto;
    }
}