@import '@/style/var.scss';

.login-head-context{
    display: flex;
    justify-content: center;
    &-logo{
        width: 64px;
        height: 64px;
        margin-right: 12px;
        font-size: 0;
        border-radius: 12px;
        box-sizing: border-box;
        &>img{
            display: block;
            object-fit: contain;
        }
    }
    &-title{
        line-height: 64px;
        font-size: 48px;
        color: $ATF-font-color-def;
    }
}
.login-head-describe{
    line-height: 48px;
    font-size: 14px;
    color: $ATF-font-color-des;
    text-align: center;
}