@import '@/style/var.scss';

.ATF-head-logo{
    width: 48px;
    height: 48px;
    font-size: 0;
    border-radius: 8px;
    background-color: transparent;
    &>img{
        display: block;
        background-color: transparent;
        object-fit: contain;
    }
}