// font
$ATF-font-color-def:#2c3e50;
$ATF-font-color-des:#808695;

// background
$ATF-background-color:#666;

// class name
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.ofh{
    overflow: hidden;
}