$ATF-themeColor:#18a058;
// font
$ATF-font-color-def:#2c3e50;
$ATF-font-color-des:#808695;
$ATF-font-color-back:#fff;

// background
$ATF-background-color:rgba($ATF-themeColor,0.3);
$ATF-background-color-base:#f5f7f9;

// class name
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.ofh{
    overflow: hidden;
}